pandas==1.4.2
gensim==4.3.1
matplotlib==3.5.1
nltk==3.7
scikit-learn==1.5.0
scipy==1.10.0
tqdm==4.64.0
PyYAML==6.0
pyspellchecker==0.6.3
adjustText==0.7.3
ruptures==1.1.7
tslearn @ git+https://github.com/tslearn-team/tslearn.git
ipykernel==6.16.0
numpy==1.23.3
jupyter==1.0.0